<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="JZ Office" android:allowBackup="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <provider android:name=".SampleProvider" android:authorities="${applicationId}.samples" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            </intent-filter>
        </activity>
    </application>
</manifest>
